/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
  font-family: "Open Sans";
}

#nav {
  width: 100%;
  height: 70px;
  background-color: #3F96F3;
  border-bottom: 2px solid #F3723F;
}

#nav-links {
  float: right;
  margin-right: 20px;
}

#nav-links ul {
  /*display: inline;*/
  list-style: none;
  margin-top: -26px;

}

#nav-links ul li {
  display: inline;
  padding-left: 6px;
}

#nav-links ul li a {
  color: white;
  border: 3px solid white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 12px;
  padding-left: 12px;
  font-weight: 400;
  text-decoration: none;
  background-color: rgba(255,255,255,0.3);
}

#nav-links ul li a.sign-up {
  background-color: rgba(243,114,63,1);
}

#nav-links ul li a.sign-up:hover {
  background-color: rgba(243,114,63,0.7); 
}

#nav-links ul li a:hover {
  background-color: rgba(255,255,255,0.6);
}

#logo-container {
  /*margin-top: 20px;*/
  display: inline;
  float: left;
}

#logo {
  background-image: url("/assets/images/se-csen-603.png");
  background-size: contain;
  height: 70px;
  background-repeat: no-repeat;
  margin-top: 10px;
  display: inline-block;
  width: 187px;
  margin-left: 16px;
}

#search-form {
  /*display: inline-block;*/
  /*float: right;*/
  width: 210px;
  margin-right: 40px;
  margin-left: auto;
  margin-right: auto;
}

#search-icon {
  background-color: #F3723F;
  color: white;
  display: inline-block;
  /* padding: 12px; */
  padding-bottom: 11px;
  margin: 0;
  height: 17px;
  padding-top: 11px;
  padding-left: 12px;
  padding-right: 12px;
}

#search-form form input[type=text] {
  display: inline;  
  border-width: 0px;
  background-color: white;
  width: 210px;
  /*display: block;*/
  height: 38px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12pt;
  font-family: "Raleway";
  font-weight: 200;
  margin-top: 15px;
  opacity: 0.85;
  margin-left: -4px;
}


#search-form form input[type=text]:focus {
  outline: none;
  opacity: 1;
}

.container {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
}

.post {
  margin-top: 14px;
  width: 960px;
  height: 80px;
  border-bottom: 1px solid #DADADB;
  color: #595959;
}

.post .rank {
  float: left;
  width: 80px;
  height: 80px;
  text-align: center;
}

.post .rank p {
  font-weight: bold;
  font-size: 18pt;
  padding: 18px;
  text-align: center;
}

.post .controls {
  width: 80px;
  float: left;
  text-align: center;
}

.post .controls .arrow a {
  color: black;
  opacity: 0.7;
}

.post .controls .arrow a:hover {
  opacity: 1;
}

.post .controls .arrow:nth-child(1) {
  padding-bottom: 6px;
}

.post .controls i.fa.fa-chevron-down {
  padding-top: 6px;
  color: black;
  opacity: 0.7;
}

.post .controls i.fa.fa-chevron-down:hover {
  opacity: 1;
}

.post .controls .votes {
  color: #696969;
  font-weight: 600;
  opacity: 0.85;
}

.post .post-content {
  width: 480px;
  float: left;
}

.post .post-content .post-title {
  margin-top: 16px;
  text-overflow: ellipsis; 
  overflow: hidden; 
  width: 480px; 
  height: 1.2em; 
  white-space: nowrap; 
  opacity: 0.8;
}

.post .post-content .post-title a {
  color: black;
  font-weight: bold;
  opacity: 0.8;
  text-decoration: none;
}

.post .post-content .post-title a:hover {
  text-decoration: underline;
}

.post .post-content .post-by-who {
  font-size: 10pt;
  font-weight: 300;
}

.post .post-content .post-by-who a {
  font-weight: bold;
  color: black;
  opacity: 0.8;
  text-decoration: underline;
}

.post-by-who {
  padding-top: 10px;
  font-size: 10pt;
  font-weight: 300;
}

.post-by-who a {
  font-weight: bold;
  color: black;
  opacity: 0.8;
  text-decoration: underline;
}


.post .post-view-count {
  opacity: 0.8;
  width: 160px;
  float: left;
  text-align: center;
  font-size: 14pt;
  font-weight: bold;
  margin-top: 20px;
}
.post .post-view-count i {
  font-size: 18pt;
  margin-right: 10px;
  opacity: 1;
}

.post .post-comment-count {
  opacity: 0.8;
  width: 160px;
  float: left;
  text-align: center;
  font-size: 14pt;
  font-weight: bold;
  margin-top: 20px;
}
.post .post-comment-count i {
  font-size: 18pt;
  margin-right: 10px;
  opacity: 1;
}

.comments {
  width: 640px;
}

.comment {
  margin-top: 10px;
}

.comment p {
  padding-left: 16px;
  opacity: 0.8;
  /*border-left: 8px solid #DADADB;*/
  border-left: 8px solid #FFE6A8;
  padding-top: 16px;
}

.comment-form {
  margin-top: 20px;
  border-top: 1px solid #DADADB;
  margin-bottom: 60px;
}

.comment-form h3 {
  font-size: 16pt;
  padding-top: 8px;
  opacity: 0.7;
  font-weight: 600;
  padding-bottom: 6px;
}

.comment-form textarea {
  display: block;
  /*margin-bottom: 4px;*/
  padding: 0;
  /*background-color: white;*/
  background-color: #fcfcfc;
  border: 1px solid #ccc;
  height: 80px;
  font-size: 12pt;
  font-weight: 200;
  /*border-width: 0px;*/
  width: 480px;
  margin-top: 6px;
  padding-left: 4px;
  padding-top: 4px;
}

.comment-form textarea:focus {
  border: 1px solid #3F96F3;
  outline: none;
}

.comment-form input[type=submit] {
  margin-top: 8px;
  width: 486px;
  height: 32px;
  font-size: 12pt;
  background-color: #3F96F3;
  color: white;
  font-weight: 500;
  border: 0;
  cursor: pointer;
}